@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600&display=swap");

$theme-colors: (
 primary: #7915d3,
 secondary: #5a189a,
 purple2: #b8d0eb,
 purple3: #7678ed
);

$font-family-sans-serif: "Encode Sans", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
 "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;



html,
body {
 font-family: $font-family-sans-serif !important;
}

.custom-grid {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 grid-template-rows: repeat(2, 200px);
 gap: 25px;
}

.carousel-hero {
 position: absolute;
 right: 15%;
 left: 15%;
 z-index: 10;
 padding-top: 20px;
 padding-bottom: 20px;
 color: #fff;
 text-align: center;
}

.carousel-hero .card {
 background-color: rgb(255 255 255 / 0.7);
}

#steps img {
 width: 50px;
 height: 50px;
}

#steps .custom-grid-item {
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 12px;
 padding: 5px;
 -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
 -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
 box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

#sub-sections .row {
	height: 50vh;
}

#sub-sections img {
	height: 40vh;
	width: 40vh;
	border-radius: 100px;
	object-fit: cover;
}

.justify-space-between {
	justify-content: space-between;
}

.justify-space-around {
	justify-content: space-around;
}

.justify-space-evenly {
	justify-content: space-evenly;
}

@media (min-width: 1024px) {
 .carousel-hero {
  bottom: 30%;
 }

 h2.h1 {
	 font-size: 3rem;
 }

 .custom-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 200px);
	gap: 25px;
 }

 #steps .custom-grid-item {
	padding: 50px;
 }

}

@media (min-width: 768px) and (max-width: 1023px) {
 .carousel-hero {
  bottom: 30%;
 }
}

@media (max-width: 320px) {
	.carousel-hero {
		left: 5%;
		right: 5%;
	}

 .carousel-item img {
  height: 100vh;
  width: auto;
  object-fit: cover;
 }

 h2.h1{
	font-size: 2.3rem;
 }

 .carousel-hero {
  bottom: 35%;
 }

 #sub-sections img {
	width: 20vh;
	height: 20vh;
 }
}

@import "../node_modules/bootstrap/scss/bootstrap";
